<html>
  <head>
    <title>Shaaz is reading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="fonts/cmun-serif.css" rel="stylesheet">
    <style type="text/css">
      .container {
        max-width:   500px;
        padding-top: 100px;
      }

      #title {
        font-family: "Computer Modern Serif";
        font-size: 32px;
        font-weight: bold;
      }

      .subtitle {
        font-family: "Computer Modern Serif";
        font-size: 22px;
        padding-left: 2%;
      }

      .links {
        font-family: "Computer Modern Serif";
        font-size: 20px;
        padding-left: 7%;
      }

      .links .small {
        font-size: 16px;
      }

      .tiny {
        font-size: 11px;
        font-family: "Computer Modern Serif";
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4 id="title">Read Log</h4>
      <br />
      <p class="subtitle">Ongoing</p>
      <p class="links"><a href="http://store.doverpublications.com/0486417131.html">Lectures on Quantum Mechanics</a> <span class="small">p. a. m. dirac</span></p>
      <p class="links"><a href="http://www.damtp.cam.ac.uk/user/tong/qft.html">Quantum Field Theory</a> <span class="small">david tong (lecture notes)</span></p>
      <p class="links"><a href="https://www.amazon.co.uk/Quantum-Field-Theory-Gifted-Amateur/dp/019969933X">Quantum Field Theory for the Gifted Amateur</a> <span class="small">tom lancaster, stephen blundell</span></p>
      <p class="links"><a href="">The Road to Reality</a> <span class="small">roger penrose</span></p>

      <p class="subtitle">2018</p>
      <p class="links"><a href="https://www.oreilly.com/library/view/designing-data-intensive-applications/9781491903063/">Designing Data Intensive Applications</a> <span class="small">martin kleppman</span></p>
      <p class="links"><a href="http://www.brendangregg.com/sysperfbook.html">Systems Performance</a> <span class="small">brendan gregg</span></p>
      <p class="links"><a href="https://www.amazon.co.uk/Design-UNIX-Operating-System-Prentice-Hall/dp/0132017997">Design of the UNIX Operating System</a> <span class="small">maurice j. bach</span></p>
      <p class="links"><a href="https://www.amazon.com/Computer-Networks-Approach-Kaufmann-Networking/dp/0123850592">Computer Networks: A Systems Approach (5/12)</a> <span class="small">peterson & davie</span></p>
      <p class="links"><a href="https://en.wikipedia.org/wiki/The_C_Programming_Language">The C Programming Language</a> <span class="small">kernighan & ritchie</span></p>
      <p class="links"><a href="https://www.amazon.co.uk/Mathematical-Methods-Physics-Jon-Mathews/dp/0805370021">Mathematical Methods of Physics</a> <span class="small">mathews & walker (partial)</span></p>
      <p class="links"><a href="https://www.amazon.com/Little-Book-Still-Beats-Market/dp/0470624159">The Little Book That Still Beats the Market</a> <span class="small">joel greenblatt</span></p>
      <p class="links"><a href="https://www.amazon.com/Simulation-Sheldon-M-Ross/dp/0124158250">Simulation</a> <span class="small">sheldon ross</span></p>
      <p class="links"><a href="https://www.amazon.co.uk/Feynman-Lectures-Computation-Frontiers-Physics/dp/0738202967">Feynman Lectures on Computation</a> <span class="small">richard feynman (1/4)</span></p>
      <p class="links"><a href="https://www.amazon.com/Programming-Language-Pragmatics-Michael-Scott/dp/0123745144">Programming Language Pragmatics</a> <span class="small">michael l. scott (6/13)</span></p>
      <p class="links"><a href="http://curtclifton.net/papers/MoseleyMarks06a.pdf">Out of the Tar Pit</a> <span class="small">moseley, marks (paper, 7/9)</span></p>
      <p class="links"><a href="https://www.amazon.com/LECTURES-QUANTUM-THEORY-MATHEMATICAL-FOUNDATIONS/dp/1860940013">Lectures on Quantum Theory</a> <span class="small">chris j. isham</span></p>
      <p class="links"><a href="https://pragprog.com/book/mnee/release-it">Release It! Design and Deploy Production-Ready Software</a> <span class="small">michael t. nygard</span></p>
      <p class="links"><a href="https://www.amazon.com/Algorithm-Design-Manual-Steven-Skiena/dp/1849967202">Algorithm Design Manual</a> <span class="small">steven skiena</span></p>
      <p class="links"><a href="https://www.amazon.com/Particle-Physics-Very-Short-Introduction/dp/0192804340">Particle Physics: A Very Short Introduction</a> <span class="small">frank close</span></p>
      <p class="links"><a href="https://en.wikipedia.org/wiki/The_Mythical_Man-Month">The Mythical Man-Month: Essays on Software Engineering</a> <span class="small">fred brooks</span></p>
     <p class="links"><a href="https://www.amazon.com/Payoff-Hidden-Logic-Shapes-Motivations/dp/1501120042">Payoff: The Hidden Logic That Shapes Our Motivations</a> <span class="small">dan ariely</span></p>
      <p class="links"><a href="https://en.wikipedia.org/wiki/Zero_to_One">Zero to One</a> <span class="small">peter thiel</span></
      <p class="links"><a href="https://www.amazon.in/Man-All-Markets-Street-Dealer/dp/1400067960">A Man for All Markets</a> <span class="small">edward o. thorpe</span></p>
      <p class="links"><a href="https://www.mountaingoatsoftware.com/books/user-stories-applied">Clean Code</a> <span class="small">robert c. martin</span></p>
      <p class="links"><a href="http://www.fooledbyrandomness.com/">Antifragile</a> <span class="small">nassim nicholas taleb</span></p>
      <p class="links"><a href="https://signal.org/docs/specifications/x3dh/">X3DH</a> <span class="small">whitepaper</span></p>
      <p class="links"><a href="https://www.amazon.in/How-Fail-Almost-Everything-Still/dp/0241003709">How to Fail at Almost Everything and Still Win Big</a> <span class="small">scott adams</span></p>
      <p class="links"><a href="https://www.amazon.in/Manage-Your-Day-Day-Creative/dp/1477800670">Manage Your Day to Day</a> <span class="small">99U Book Series</span></p>

      <br />
      <p class="subtitle">2017</p>
      <p class="links"><a href="https://www.mountaingoatsoftware.com/books/user-stories-applied">User Stories Applied</a> <span class="small">mike cohn</span></p>
      <p class="links"><a href="http://shop.oreilly.com/product/9780596518387.do">Apprenticeship Patterns</a> <span class="small">oshineye and hoover</span></p>
      <p class="links"><a href="http://theleanstartup.com/">The Lean Startup</a> <span class="small">eric ries</span></p>
      <p class="links"><a href="https://books.google.co.in/books/about/Test_driven_Development.html">TDD By Example</a> <span class="small">kent beck</a></p>
      <p class="links"><a href="http://blog.jayfields.com/2014/05/working-effectively-with-unit-tests.html">Working Effectively with Unit Tests</a> <span class="small">jay fields</a></p>
      <p class="links"><a href="https://pragprog.com/">Pragmatic Programmer</a> <span class="small">andy hunt, dave thomas</a></p>
      <p class="links"><a href="http://www.joyofclojure.com/">The Joy of Clojure</a> <span class="small">chris houser, michael fogus</a></p>
<br />

      <p class="subtitle">2016</p>
      <p class="links"><a href="https://web.mit.edu/alexmv/6.037/sicp.pdf">Structure and Interpretation of Computer Programs</a> <span class="small">abelson, sussman & sussman</span></p>
      <p class="links"><a href="http://renaissance.ucsd.edu/courses/mae207/mech.pdf">Mechanics</a> <span class="small">landau & lifshitz</span></p>
      <br />

      <p class="tiny">email: shaaz.ahmed@hotmail.com</p>


    </div>
  </body>
</html>
